*{ margin:0;
   padding:0;
}

.adocao{
    width: 90px ;  
}

.cabecalho{
    background-color:rgb(215, 126, 250);
    color:rgb(49, 47, 47);
    display: flex;
    justify-content: space-between;
    padding: 3px 0;
    font-size: 30px;

}
.cabecalhoListenItem{
    display:inline-block;
    margin:0 15px;
    padding: 5px 10;
}

.sobreImagem{
           width:60px;
}

.sobre{
        background-image: linear-gradient(#d783f8, #e2a5fa);
        color: rgb(8, 8, 8);
        display: flex;
        justify-content: center;
       align-items: center;
       padding: 90px 0;
}

.sobreConteudo{
        width:550px;
}

.sobreTitulo{
    padding:20px 0px;
}

/*Novo CSS*/
.membroImagem{
width:120px;
}

.membroIcone{
width: 24px;
}

.membroDiv{
text-align: center;
}

.membrosTitulo{
text-align:center;
padding: 60px 0;
}

.membrosTodos{
display: grid;
/*Transforma o display em quadrados*/
grid-template-columns: 15% 20% 20% 20% 20%;
/*Quanto cada coluna ocupa na página, em sequência*/
}

.membroDiv{
text-align:center;
padding-bottom: 50px;
}

.membros{
background-color: rgb(225, 166, 243);
}